<footer role="contentinfo">
  <div class="footer-nav-wrapper body py-4">
    <nav aria-label="Main footer" class="container">
      <div class="row">
        <div class="col-6 col-lg-3">
          <div role="group">
            <h4>Mondo Sky</h4>
            <ul aria-label="Mondo Sky">
              <li><a href="#">NOW</a></li>
              <li><a href="#">Sky Business</a></li>
              <li><a href="#">Sky Group</a></li>
              <li><a href="#">Sky Media</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div role="group">
            <h4>Servizi</h4>
            <ul aria-label="Servizi">
              <li><a href="#">Trova Spazio Sky</a></li>
              <li><a href="#">Trova Spazio Bar</a></li>
              <li><a href="#">Trova Spazio Hotel</a></li>
              <li><a href="#">Trasloca Sky</a></li>
              <li><a href="#">Sky Expert</a></li>
              <li><a href="#">Sky nei condomini</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div role="group">
            <h4>Per il Cliente</h4>
            <ul aria-label="Per il consumatore">
              <li><a href="#">Trasparenza tariffaria</a></li>
              <li><a href="#">Listino, Moduli e Condizioni contrattuali</a></li>
              <li><a href="#">Informative privacy e cookie policy</a></li>
              <li><a href="#">Sky informa</a></li>
              <li><a href="#">Agevolazioni per non udenti, non vedenti e soci ANMIL</a></li>
              <li><a href="#">Sky Extra</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div role="group">
            <h4>Assistenza</h4>
            <ul aria-label="Assistenza">
              <li><a href="#">Contatti online</a></li>
              <li><a href="#">Assistenza virtuale</a></li>
            </ul>
          </div>
          <div role="group">
            <h4>Altro</h4>
            <ul aria-label="Altro">
              <li><a href="#">Codice di condotta</a></li>
              <li><a href="#">Responsible disclosure</a></li>
              <li><a href="#">Modern Slavery Statement</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="container">
    <div class="d-flex gap-lg-5 gap-3 py-3 flex-wrap body align-items-center">
      <nav class="row side-nav order-lg-1 flex-md-nowrap gap-md-3" aria-label="Legal footer">
        <div class="col-6 col-md-auto"><a href="#">Listino</a></div>
        <div class="col-6 col-md-auto"><a href="#">Note Legali</a></div>
        <div class="col-6 col-md-auto"><a href="#">Cookie</a></div>
        <div class="col-6 col-md-auto"><a href="#">Sicurezza e Privacy</a></div>
      </nav>
      <div class="credits flex-md-nowrap gap-md-5 gap-3 order-lg-0 align-items-center">
        <div class="sky-logo-container">
          <img src="logos/logo-sky-colore.svg" alt="logo_sky" aria-label="Sky Italia logo">
        </div>
        <div>
          <div>Copyright 2021 Sky Italia - P.IVA 04619241005</div>
          <div class="small-copyright">Tutti i marchi Sky e i diritti di proprietà intellettuale in essi contenuti, sono di proprietà di Sky international AG e sono utilizzati su licenza.</div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="line"></div>
<div class="sticky-space"></div>
