<footer role="contentinfo">
  <nav aria-label="Main footer" class="row">
    <div class="col-6 col-lg-2">
      <div role="group">
        <h4>Mondo Sky</h4>
        <ul aria-label="Mondo Sky">
          <li><a href="#">NOW</a></li>
          <li><a href="#">Sky Business</a></li>
          <li><a href="#">Sky Group</a></li>
          <li><a href="#">Sky Media</a></li>
          <li><a href="#">Sky Extra</a></li>
          <li><a href="#">Sky Shop</a></li>
          <li><a href="#">Programmi</a></li>
        </ul>
      </div>
    </div>
    <div class="col-6 col-lg-2">
      <div role="group">
        <h4>Servizi</h4>
        <ul aria-label="Servizi">
          <li><a href="#">Trova negozio Sky</a></li>
          <li><a href="#">Trova Sky Bar</a></li>
          <li><a href="#">Trova Sky Hotel</a></li>
          <li><a href="#">Trasloca Sky</a></li>
          <li><a href="#">Sky Expert</a></li>
          <li><a href="#">Sky nei condomini</a></li>
          <li><a href="#">Production Services</a></li>
          <li><a href="#">Agevolazioni per utenti con disabilità - Sky Mobile</a></li>
        </ul>
      </div>
    </div>
    <div class="col-6 col-lg-2">
      <div role="group">
        <h4>Per il consumatore</h4>
        <ul aria-label="Per il consumatore">
          <li><a href="#">Trasparenza tariffaria</a></li>
          <li><a href="#">Trasparenza tecnica</a></li>
          <li><a href="#">Listino, Moduli e Condizioni contrattuali</a></li>
          <li><a href="#">FAQ termini e condizioni</a></li>
          <li><a href="#">Informative privacy e cookie policy</a></li>
          <li><a href="#">Sky informa</a></li>
          <li><a href="#">Etichettatura ambientale</a></li>
          <li><a href="#">Sicurezza</a></li>
          <li><a href="#">Digital Services Act</a></li>
        </ul>
      </div>
    </div>
    <div class="col-6 col-lg-2">
      <div role="group">
        <h4>Sky Wifi</h4>
        <ul aria-label="Sky Wifi">
          <li><a href="#">Differenza tra modem e router</a></li>
          <li><a href="#">Tipologie connessioni</a></li>
          <li><a href="#">Agevolazioni per utenti con disabilità - Sky Wifi</a></li>
          <li><a href="#">Passare a Sky Wifi</a></li>
          <li><a href="#">Internet per la casa</a></li>
          <li><a href="#">Speed test</a></li>
        </ul>
      </div>
    </div>
    <div class="col-6 col-lg-2">
      <div role="group">
        <h4>Assistenza</h4>
        <ul aria-label="Assistenza">
          <li><a href="#">Contatta Sky</a></li>
          <li><a href="#">App My Sky</a></li>
        </ul>
      </div>
      <div role="group">
        <h4>Altro</h4>
        <ul aria-label="Altro">
          <li><a href="#">Codice di condotta</a></li>
          <li><a href="#">Whistleblowing</a></li>
          <li><a href="#">Responsible disclosure</a></li>
          <li><a href="#">Modern Slavery Statement</a></li>
          <li><a href="#">Centro dati Efficienza energetica</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">

  </div>
</footer>
