ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 1px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;

  li {
    margin-bottom: 12px;
    max-width: 190px;
  }
}

h4 {
  color: #4d4d4d;
  font-weight: 500;
  letter-spacing: 0.5px;
  pointer-events: none;
  outline-style: none;
  padding-top: 18px;
  padding-bottom: 6px;
}

.footer-nav-wrapper {
  background-color: #fafafa;
}

a {
  color: #4d4d4d;
  text-decoration: none;
}

.small-copyright {
  font-size: 12px;
}

.credits {
  display: flex;
  flex-basis: 442px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.side-nav {
  flex-basis: 470px;
  flex-grow: 1;
  div {
    margin-bottom: 12px;
  }
}

.line {
  height: 4px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ff9e00), color-stop(30.93%, red), color-stop(61.67%, #b5007d), color-stop(88.09%, #21429c), to(#0071ff));
  background: linear-gradient(90deg, #ff9e00, red 30.93%, #b5007d 61.67%, #21429c 88.09%, #0071ff);
}
.sticky-space {
  height: 118px;
  min-height: 118px;
  width: 100%;
}

.sky-logo-container {
  flex: 1 0 73px;
}

.footer-nav-wrapper {
  min-height: 400px; /* adjust based on your content */
}

.second-footer {
  min-height: 100px; /* adjust based on your content */
}
