ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 1px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;

  li {
    margin-bottom: 12px;
    max-width: 190px;
  }
}

h4 {
  color: #4d4d4d;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: 22px;
  pointer-events: none;
  outline-style: none;
  padding: 18.62px 0;
}

.footer-nav-wrapper {
  background-color: #fafafa;
}

a {
  color: #4d4d4d;
  text-decoration: none;
}

.small-copyright {
  font-size: 12px;
}

.credits {
  display: flex;
  // gap: 3rem;
  flex-basis: 450px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.side-nav {
  flex-basis: 280px;
  flex-grow: 1;
  flex-shrink: 0;
  div {
    margin-bottom: 12px;
  }
}
