.card {
  height: 390px;
  max-width: 400px;
  margin: 0 auto;
  img.card-img-top {
    height: 165px;
    object-fit: cover;
    flex: 0 0 165px;
  }
  img.thumb {
    width: 55px;
    height: 55px;
    top: 135px;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    object-fit: cover;
  }
}
