<div class="card" role="article">
  <img [src]="data().image.file.url"
       [alt]="data().image.alt"
       class="card-img-top"
       [attr.aria-describedby]="'desc-' + data().title" />

  <img [src]="data().thumb_image.file.url"
       [alt]="data().thumb_image.alt"
       class="thumb"
       [attr.aria-describedby]="'desc-' + data().thumb_image.alt" />

  <div class="card-body">
    <h5 class="body-large text-center mb-3 mt-4 fw-medium"
        [attr.id]="'title-' + data().title">{{data().title}}</h5>
    <p class="text-center"
       [attr.id]="'desc-' + data().title"
       role="contentinfo">{{data().description}}</p>
  </div>
</div>
