.header {
  box-shadow: 8px 8px 24px 10px rgba(0, 0, 0, 0.07);
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 10px 24px;
  z-index: 10;
  img {
    height: 32px;
    min-width: 53px;
  }
}
