<section class="hero-cta">
  <div class="badge badge-info text-center">Offerta speciale solo per te</div>
  <h1 class="sky-text-gradient-color large-display text-center">
    Sky TV + Sky Cinema con Paramount+
  </h1>
  <p class="text-center sky-text-grey-color">
    Continua a vedere il cinema di Sky con Paramount+ senza costi aggiuntivi al migliore prezzo e senza dover cambiare decoder.
  </p>
<!--  <div>-->
<!--    <div aria-label="24,90€ al mese per 18 mesi" class="price text-center">-->
<!--      <span class="sky-text-color">24<small>,90€</small></span>-->
<!--      <span>al mese per 18 mesi</span>-->
<!--    </div>-->
<!--    <div>-->
<!--      <div>Nessun costo di attivazione</div>-->
<!--      <div class="sky-blue-color">Dettagli dell'offerta</div>-->
<!--    </div>-->
<!--  </div>-->


  <app-price [price]=""></app-price>

</section>

