<section id="hero-cta">
  <div class="d-flex flex-column align-items-center">
    <div class="sky-badge text-center fw-medium">Offerta speciale solo per te</div>

    <div style="max-width: 800px">
      <h1 class="sky-text-gradient-color large-display text-center">
        Sky TV + Sky Cinema con Paramount+
      </h1>
      <p class="sky-text-grey-color text-center body-large">
        Continua a vedere il cinema di Sky con Paramount+ senza costi aggiuntivi al migliore prezzo e senza dover cambiare decoder.
      </p>
    </div>

    <app-price [price]="24.90" [text-price]="'al mese per 18 mesi'"></app-price>

  </div>
</section>


<div style="height: 500px; margin-bottom: 20px;margin-top: 50px; background-color: aqua"></div>

