<div class="app">
  <app-header></app-header>
  <main class="container-fluid">
    @for (dynamic of stack?.dynamic; track dynamic.uid) {
      @switch (dynamic._content_type_uid) {
        @case ('hero') {
          @if(isHeroCta(dynamic)) {
            <app-hero-cta [data]="dynamic"></app-hero-cta>
          }
        }
        @case ('separator') {
          @if(isBanner3Images(dynamic)) {
            <app-banner-3-images [data]="dynamic"></app-banner-3-images>
          }
        }
        @case ('heading_editorial') {
          @if(isHeadingEditorial(dynamic)) {
            <app-title [data]="dynamic"></app-title>
          }
        }
        @case ('carousel') {
          @if(isCarousel(dynamic)) {
          <app-carousel [data]="dynamic"></app-carousel>
          }
        }
        @case ('banner_discount') {
          @if(isOfferBox(dynamic)) {
          <app-offer-box [data]="dynamic"></app-offer-box>
          }
        }
        @case ('card_list') {
          @if(isHeroCards(dynamic)) {
          <app-hero-cards [data]="dynamic"></app-hero-cards>
          }
        }
        @case ('accordion_group') {
          @if(isAccordion(dynamic)) {
          <app-accordion [data]="dynamic"></app-accordion>
          }
        }
        @default {
        }
      }
    }
  </main>
  <app-footer></app-footer>
</div>
<!-- <pre>{{stack | json}}</pre> -->
