<div class="d-flex flex-column">

  <div [attr.aria-label]="[price().value.toString(), price().label.toString()].join(' ')" class="d-flex align-items-center">
    <!-- integerPart -->
    <div aria-hidden="true" class="large-display  sky-text-gradient-color">{{ price().value | splitPrice: 'integerPart' }}</div>

    <div aria-hidden="true">
      <!-- decimalPart -->
      <div class="page-title  sky-text-gradient-color">,{{ price().value | splitPrice: 'decimalPart' }}€</div>
      <!-- textPrice -->
      <div class="body-small" *ngIf="price().label">{{ price().label }}</div>
    </div>

  </div>

  <div class="body-small fw-medium">{{ price().info }}</div>
  <div class="body-small text-center">Dettaglio dell'offerta</div>

</div>
