@import '../../../styles.scss';

.reset-bg {
  background-clip: text;
  background-color: get-color('dark');
  -webkit-text-fill-color: transparent;
}

.integer {
  font-size: 70px;
  line-height: 62px;
}

.decimal {
  font-size: 30px;
  line-height: 38px;
}

#main-price {
 position: relative;
 color: get-color('dark');
}

#main-price.line-through::before {
  content: "";
  position: absolute;
  top: 29px;
  left: -18px;
  width: 147px;
  height: 2px;
  background-color: get-color('dark');
  transform: rotate(-23deg);
  transform-origin: center;
}
