@import './styles/bootstrap.scss';

:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}

/* FONTS */
@font-face {
  font-family: 'Sky';
  src: url('/fonts/Sky_Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sky';
  src: url('/fonts/Sky_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sky';
  src: url('/fonts/Sky_Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Sky';
  src: url('/fonts/Sky_Med.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SkyText';
  src: url('/fonts/SkyText_Lt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SkyText';
  src: url('/fonts/SkyText-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


body {
  font-family: 'Sky', sans-serif;
  color: rgb(77, 77, 77);
}

.sky-text-gradient-color {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: transparent 0px 0px;
  background-color: rgb(245, 100, 0);
  background-image: linear-gradient(to right, rgb(245, 100, 0) 0%, rgb(255, 0, 0) 25%, rgb(181, 0, 125) 50%, rgb(33, 66, 156) 75%, rgb(0, 113, 255) 100%);
}

.sky-text-blue-color {
  color: get-color('blue');
}

.sky-text-grey-color {
  color: get-color('dark');
}



/* Breakpoints */
@media (max-width: 457px) { /* x-small */ }
@media (min-width: 458px) and (max-width: 768px) { /* small */ }
@media (min-width: 769px) and (max-width: 1024px) { /* medium */ }
@media (min-width: 1025px) and (max-width: 1440px) { /* large */ }
@media (min-width: 1441px) and (max-width: 1920px) { /* x-large */ }
@media (min-width: 1921px) { /* 2x-large */ }

/* Typography Responsive */
.large-display {
  font-family: 'Sky', sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
}
@media (min-width: 1441px) {
  .large-display { font-size: 80px; line-height: 104px; }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .large-display { font-size: 64px; line-height: 82px; }
}
@media (max-width: 1024px) {
  .large-display { font-size: 48px; line-height: 62px; }
}

.display {
  font-family: 'Sky', sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
}
@media (min-width: 1441px) {
  .display { font-size: 64px; line-height: 84px; }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .display { font-size: 48px; line-height: 62px; }
}
@media (max-width: 1024px) {
  .display { font-size: 34px; line-height: 44px; }
}

.page-title {
  font-family: 'Sky', sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
}
@media (min-width: 1441px) {
  .page-title { font-size: 52px; line-height: 68px; }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .page-title { font-size: 42px; line-height: 54px; }
}
@media (max-width: 1024px) {
  .page-title { font-size: 28px; line-height: 36px; }
}

.section-title {
  font-family: 'Sky', sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
}
@media (min-width: 1441px) {
  .section-title { font-size: 38px; line-height: 50px; }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .section-title { font-size: 30px; line-height: 40px; }
}
@media (max-width: 1024px) {
  .section-title { font-size: 24px; line-height: 32px; }
}

.body-large, .body-fluid, .body, .body-small, .small-text {
  font-family: 'Sky', sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
}
@media (min-width: 1441px) {
  .body-large { font-size: 26px; line-height: 34px; }
  .body-fluid { font-size: 18px; line-height: 24px; }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .body-large { font-size: 24px; line-height: 32px; }
  .body-fluid { font-size: 16px; line-height: 20px; }
}
@media (max-width: 1024px) {
  .body-large { font-size: 20px; line-height: 26px; }
  .body-fluid { font-size: 14px; line-height: 18px; }
}

.body {
  font-size: 18px;
  line-height: 24px;
}

.body-small {
  font-size: 16px;
  line-height: 20px;
}

.small-text {
  font-size: 14px;
  line-height: 18px;
}

// Reset Heading Tags for Sky Style
h1, h2, h3, h4, h5, h6 {
  font-size: unset;
}

.mw1240 {
  max-width: 1240px;
}
.mw800 {
  max-width: 875px;
}

pre {
  max-height: 200px;
  border: 3px solid green;
  padding: 10px;
  margin-right: 190px;
}


.container .full-width, .container-fluid .full-width {
  margin-left: -15px;
  margin-right: -15px;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.btn.cta {
  width: 230px;
}

.modal-content {
  padding: 5vw;
}

.btn-close:focus {
  outline: none;
  box-shadow: none;
}

.reset-bg {
  background-clip: text;
  background-color: get-color('dark');
  -webkit-text-fill-color: transparent;
}

.mb-sky {
  margin-bottom: 5rem; // base (xs)

  @include media-breakpoint-up(sm) {
    margin-bottom: 5.5rem;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 6rem;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 6.5rem;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 7.5rem;
  }
}

.rotate-md {
  @include media-breakpoint-down(md) {
    transform: rotate(90deg);
  }
}

#sticky.btn.cta {
  @include media-breakpoint-down(md) {
    width: 155px;
    font-size: 16px;
    padding: 0.3rem;
  }
}

#sticky.left-side h4 {
  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 18px;
  }
}
