<!-- <pre> {{data() | json}} </pre> -->

<section class="d-flex justify-content-center mb-5" role="region" [attr.aria-label]="data().title">
  <div class="accordion-container">
    @for (element of data().list; track element.item.title) {
      <div ngbAccordion role="presentation">
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton class="body" aria-expanded="false">
              {{element.item.title}}
            </button>
          </h2>
          <div ngbAccordionCollapse role="region" [attr.aria-label]="element.item.title + ' content'">
            <div ngbAccordionBody [innerHtml]="element.item.description">
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</section>
